<%- include('../nav-bar.ejs') %>
<script src="/vendor/validator.js"></script>
<div id="wrapper">

    <%- include('../side-bar.ejs') %>

    <!-- Content -->
    <div id="content-wrapper">


        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin">Trang chính</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="../room-list">Phòng</a>
                </li>
                <li class="breadcrumb-item active">Sửa thông tin phòng</li>
            </ol>


            <!-- Alert Message -->
            <% if(locals.message1 && message1 != '') { %>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×</button>
                    <p>
                        <%= message1 %>
                    </p>
                </div>
                <% } %>
    
                <% if( locals.message2 && message2 != '') { %>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×</button>
    
                    <p>
                        <%= message2 %>
                    </p>
                </div>
                <%  } %>

            <form action="/admin/room/edit-room/<%= data.detail[0].id%>" method="post" enctype="multipart/form-data" id="form">
                
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="room_id" value="<%= data.detail[0].id %>" disabled="disabled" >
                </div>
                <div class="form-group">
                    <label>Mã phòng</label>
                    <input type="text" class="form-control" name="maso" value="<%= data.detail[0].maso %>"  >
                </div>

                <div class="form-group">
                        <label>Giá phòng</label>
                        <input type="text" class="form-control" name="price" value="<%= data.detail[0].price %>" >
                    </div>
                <!-- Selection -->
                <div class="form-group">
                    <label>Loại phòng:</label>
                    <select class="form-control" name="type_id" id="roomtype">
                        <% data.roomtypes.forEach(item => { %>
                        <option value="<%= item.id%>">
                            <%= item.name %>
                        </option>
                        <% }) %>
                    </select>
                    <script>
                        $('#roomtype').val("<%=data.detail[0].type_id%>").change()
                    </script>

                </div>
                <!-- Selection -->
                <div class="form-group">
                    <label>Thuộc khách sạn:</label>
                    <select class="form-control" name="hotel_id" id="hotel">
                        <% data.hotels.forEach(item => { %>
                        <option value="<%= item.id %>">
                            <%= item.name + ' (' + item.maso + ' - id:' +item.id + ')' %>
                        </option>
                        <% }) %>
                    </select>
                    <script>
                        $('#hotel').val("<%=data.detail[0].hotel_id%>").change()
                    </script>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label for="comment">Mô tả:</label>
                    <textarea class="form-control" name="des" rows="5" id="comment"><%= data.detail[0].des %></textarea>
                </div>

                <!-- Hình ảnh  -->
                <label for="images-upload">Hình ảnh:</label>
                <div class="form-group row">
                    <% if(locals.data.detail[0].image.length > 0) data.detail[0].image.forEach(item => { %>


                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="close close-image" href="#" onclick="return _delete_image(this)">×</a>
                        <a href="#" rel="ligthbox">
                            <img src="<%= item %>" class="zoom img-fluid" alt="">
                        </a>
                    </div>
                    <% }) %>

                    <script>
                        var  _delete_image =  (element) => {
                            if (confirm('Bạn chắc chắn muốn xóa hình này?'))
                                $.post("/admin/room/room-delete-image",
                                    {
                                        id: "<%= data.detail[0].id %>",
                                        image: $(this).parent('.thumb').children('a').children('img').attr('src')
                                    })
                                    .done((data) => {
                                        alert(data);
                                        $(element).parent('.thumb').remove();
                                    })
                            else return false;
                        }


                    </script>
                </div>

                <div class="form-group">
                    <input id="images-upload" name="images" type="file" class="file" multiple data-show-upload="false"
                        data-show-caption="true" data-msg-placeholder="Chọn ảnh tải lên...">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="save-data" onclick="return _save()">Lưu lại</button>
                    <a href="/admin/room/room-list" class="btn btn-danger">
                        Hủy
                    </a>
                    <script>
                        var _save = () => {
                            if(confirm('Bạn chắc chắn muốn lưu thông tin không ?')) {
                                return true;
                            }else {
                                return fale;
                            }
                        };
                    </script>
                </div>

            </form>
        </div>
        <!-- /.content-wrapper -->
    </div>

</div>
<!-- /#wrapper -->

<%- include('../sticky-footer.ejs') %>