<%- include('../nav-bar.ejs') %>

<div id="wrapper">

    <%- include('../side-bar.ejs') %>

    <!-- Content -->
    <div id="content-wrapper">


        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin">Trang chính</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="../roomtype-list">Loại phòng</a>
                </li>
                <li class="breadcrumb-item active">Sửa thông tin loại phòng</li>
            </ol>


            <!-- Alert Message -->
            <% if(locals.message1 && message1 != '') { %>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×</button>
                    <p>
                        <%= message1 %>
                    </p>
                </div>
                <% } %>
    
                <% if( locals.message2 && message2 != '') { %>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×</button>
    
                    <p>
                        <%= message2 %>
                    </p>
                </div>
                <%  } %>

            <form class="bootstrap-form needs-validation" action="/admin/room/edit-roomtype/<%= data.id %>" method="post" id="form">
                
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="hotel_id" value="<%= data.id %>" readonly >
                    
                    
                </div>

                <div class="form-group">
                    <label>Tên loại phòng</label>
                    <input type="text" class="form-control" name="name" id="name" value="<%= data.name %>" >
                    <script>
                        bootstrapValidate('#name', 'required:Không được bỏ trống!')
                    </script>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label for="comment">Mô tả:</label>
                    <textarea class="form-control" name="des" rows="5" id="comment"><%= data.des %></textarea>
                </div>

                
                <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="save-data" onclick="return _save()">Lưu lại</button>
                        <a href="/admin/room/roomtype-list" class="btn btn-danger" onclick="return _return()">Hủy</a>
                        <script>
                            function _save() {
                                if (confirm('Bạn chắc chắn muốn lưu thông tin không ?')) {
                                    return true;
                                } else {
                                    return false ;
                                }
                            }
    
                            function _return () {
                                if (confirm('Bạn muốn quay lại không?')) {
                                    return true;
                                } else {
                                    return false ;
                                }
                            }
                        </script>
                </div>

            </form>
        </div>
        <!-- /.content-wrapper -->
    </div>

</div>
<!-- /#wrapper -->

<%- include('../sticky-footer.ejs') %>