<%- include('../../nav-bar.ejs') %>

<div id="wrapper">

    <%- include('../../side-bar.ejs') %>

    <!-- Content -->
    <div id="content-wrapper">


        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin">Trang chính</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/admin/service">Quản lí dịch vụ</a>
                </li>
                <li class="breadcrumb-item active">Danh sách loại dịch vụ</li>
                
            </ol>

            <!-- Alert Message -->
            <% if(locals.message1 && message1 != '') { %>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <p>
                    <%= message1 %>
                </p>
            </div>
            <% } %>

            <% if( locals.message2 && message2 != '') { %>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <p>
                    <%= message2 %>
                </p>
            </div>
            <%  } %>
            <!-- End Alert Message -->


            <!-- Tab bar -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="service" id="room" >Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="service-type" id="hotel">Loại dịch vụ</a>
                </li>
            </ul>
            <br>

            <!-- Nội dung list service  -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Danh sách lọai dịch vụ
                    <a class="btn btn-success" style="float:right; color: #fff;" href="../add/service-type">Thêm</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên</th>
                                    <th>Mô tả</th>
                                    <th class="text-center thao-tac">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(locals.datas) { %>
                                <% datas.forEach(item => { %>
                                <tr>
                                    <td><%= item.id %></td>
                                    <td><%= item.name %></td>
                                    <td><%= item.des %></td>
                                    <td class="text-center thao-tac">
                                        <a href="edit/service-type/<%=item.id%>">sửa</a>
                                        <a href="delete/service/<%=item.id%>" onclick="_delete(); return false ;">xóa</a>
                                    </td>
            
                                    <script>
                                        function _delete () {
                                            if(confirm('Bạn chắc chắn muốn xóa ? \n Dữ liệu sẽ không thể khôi phục!')) {
                                                next();
                                            }
                                        }
                                    </script>
                                </tr>
                                <% }) %>
                                <% } %>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.content-wrapper -->
    </div>

</div>
<!-- /#wrapper -->

<%- include('../../sticky-footer.ejs') %>